body {
  text-align: center;
}
.title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 5rem;
}
.question {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
.results {
  font-family: "Source Sans Pro", sans-serif;
}
.pic {
  width: 20%;
}
.rock {
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.paper {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 6px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
}
.scissors {
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: linear-gradient(to bottom, #268a16 5%, #5cb811 100%);
  background-color: #268a16;
  border-radius: 6px;
  border: 1px solid #268a16;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aade7c;
}
